
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(function () {
        var $rows = $('#table tr');
        $('#search').keyup(function () {

            var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
                reg = RegExp(val, 'i'),
                text;

            $rows.show().filter(function () {
                text = $(this).text().replace(/\s+/g, ' ');
                return !reg.test(text);
            }).hide();
        });
    });
</script>

<div>
    <div>
        <input type="text" class="form-control pull-right" id="search" placeholder="Search Articles" />

    </div>
    <br />
    <br /><br />
    <div>
        <table id="table" class="table-hover" style="width:100%;">
            @foreach (var x in KBArticles.GetListArticles().ToList().Where(x=>x.ArticleName != "Index" && x.ArticleName !="BooksDetail").OrderBy(a => a.ArticleName))
            {
                <tr>
                    <td style="padding:10px;">
                        <span class="glyphicon glyphicon-menu-right">
                        </span>&nbsp;&nbsp;
                        <a style="text-decoration:none; color:#2C3E50;" href="@x.ArticleURL">@x.ArticleName</a>
                        @if (x.Tag == "Xamarin")
                        {
                            <span class="label label-success">@x.Tag</span>
                        }
                        @if (x.Tag == "MVC")
                        {
                            <span class="label label-info">@x.Tag</span>
                        }
                        @if (x.Tag == "Entitiy Framework")
                        {
                            <span class="label label-danger">@x.Tag</span>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>