@model IEnumerable<KnowledgeBase.Models.ArticlesList>
@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Site.css" rel="stylesheet" />

@*<div class="col-sm-12" style="margin: 0 auto; text-align:center;">
    <iframe src='http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-141279414353876233' frameborder=0 height=90 width=728></iframe>
</div>
<div class="row"></div>
<br />
<div class="col-sm-6">
    <div class="panel panel-info">
        <div class="panel-heading">Xamarin&nbsp;&nbsp; <a style="color:#2C3E50;" href="@Url.Action("Index","XamariniOS")"><span class="glyphicon glyphicon-option-horizontal"></span></a></div>
        <div class="panel-body">
            <table class="table-hover" style="width:100%;">
                @foreach (var x in KBArticles.GetXamariniOSList().Take(10).ToList())
                {
                    <tr>
                        <td style="padding:10px;">
                            <span class="glyphicon glyphicon-triangle-right"></span>
                            <a style="text-decoration:none; color:#2C3E50;" href="@x.ArticleURL">@x.ArticleName</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="panel panel-info">
        <div class="panel-heading">ASP.NET &amp; MVC&nbsp;&nbsp; <a style="color:#2C3E50;" href="@Url.Action("Index","MVC")"><span class="glyphicon glyphicon-option-horizontal"></span></a></div>
        <div class="panel-body">
            <table class="table-hover" style="width:100%;">
                @foreach (var x in KBArticles.GetMVCList().Take(10).ToList())
                {
                    <tr>
                        <td style="padding:10px;">
                            <span class="glyphicon glyphicon-triangle-right"></span>
                            <a style="text-decoration:none; color:#2C3E50;" href="@x.ArticleURL">@x.ArticleName</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="panel panel-info">
        <div class="panel-heading">Entity Framework &amp; LINQ  &nbsp;&nbsp; <a style="color:#2C3E50;" href="@Url.Action("Index","EntityFramework")"><span class="glyphicon glyphicon-option-horizontal"></span></a></div>
        <div class="panel-body">
            <table class="table-hover" style="width:100%;">
                @foreach (var x in KBArticles.GetEntityFrameworkList().Take(6).ToList())
                {
                    <tr>
                        <td style="padding:10px;">
                            <span class="glyphicon glyphicon-triangle-right"></span>
                            <a style="text-decoration:none; color:#2C3E50;" href="@x.ArticleURL">@x.ArticleName</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>*@

 
<br />
<br />
 