@using KnowledgeBase.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta property="og:title" content="Knowledge Base"/>
    <meta property="og:description" content="Knowledge base is an beginner, intermediate educating platform in technology. We are trying to bring
          examples in simple way that it can be easily learnt and implemented."/>
    <meta property="og:url" content="http://www.guntidheerajkumar.com/"/>
    <meta property="og:site_name" content="Knowledge Base"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="knowledge Base, xamarin, pcl, portable class libraries, android, httpclient, iOS, asp.net, dependency, injection, unity, Google Authentication, OAuth, caller attributes, ravendb, nosql,live time, linq, entity framework, wcf, iis, mvc, software, programming, asynchronous, play sound, uisearchbar, tableview, dialog,  animations, extensions, ios8, pull to refresh, custom fonts, floating text, push notifications, serilog, custom cell ios" />
    <meta name="author" content="Dheeraj Kumar Gunti">
    <meta name="description" content="Knowledge base is an beginner, intermediate educating platform in technology. We are trying to bring
          examples in simple way that it can be easily learnt and implemented." />
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 month">
    <title>Knowledge Base</title>
    @*<script src="//fast.eager.io/pX0EM8Ab9z.js"></script>*@
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
   
    <header id="header">
        <div id="main-placeholder">
            <div class="container" role="banner">
                <a href="#"><p class="logo">@Html.ActionLink("Knowledge Base", Routes.ActionMethod, Routes.Controller)</p></a>
            </div>
        </div>
        <div id="sub-header" class="container" cmpgrp="breadcrumb" role="navigation" aria-label="breadcrumb">
            @if (ViewBag.Title != "Home Page" && ViewBag.Title != "ThankYou" && ViewBag.Title != "Comments" && ViewBag.Title != "About")
            {
                <ul class="breadcrumbs">
                    <li>
                        @Html.ActionLink("Home", Routes.ActionMethod, Routes.Controller)
                    </li>

                    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
                    {
                        <li>
                            @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())
                        </li>
                    }
                    @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
                    {
                        if (KBArticles.GetListArticles().ToList().Select(x => x.Article == ViewContext.RouteData.Values["action"].ToString()).Count() > 0)
                        {
                            <li>
                                @Html.ActionLink(KBArticles.GetListArticles().Where(x => x.Article == ViewContext.RouteData.Values["action"].ToString()).FirstOrDefault().ArticleName, KBArticles.GetListArticles().Where(x => x.Article == ViewContext.RouteData.Values["action"].ToString()).FirstOrDefault().ArticleName, ViewContext.RouteData.Values["controller"].ToString())
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
                            </li>
                        }
                    }
                </ul>
            }
        </div>
    </header>
    <div class="containerpage" pgarea="body">
        <div id="toc" cmpgrp="left toc" role="navigation" aria-label="main navigation">
            <nav id="sidebar">
                <ol>
                    <li class="toc-level-0">
                        <div class="toc-content">
                            <a href="~/MVC/Index">ASP.NET MVC</a>
                        </div>
                    </li>
                    <li class="toc-level-0">
                        <div class="toc-content">
                            <a href="~/EntityFramework/Index">Entity Framework</a>
                        </div>
                    </li>
                    <li class="toc-level-0">
                        <div class="toc-content">
                            <a href="~/XamariniOS/Index">Xamarin iOS</a>
                        </div>
                    </li>
                    <li class="toc-level-0">
                        <div class="toc-content">
                            <a href="~/Books/Index">Books</a>
                        </div>
                    </li>
                    <li class="toc-level-0">
                        <div class="toc-content">
                            <a href="~/Home/About">About Me</a>
                        </div>
                    </li>
                    <li class="toc-level-0">
                        <div class="toc-content">
                            <a href="~/Articles/Index">All Articles</a>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
        <div id="main" role="main">
            <div>
                <div>
                    @RenderBody()
                </div>
                <br />
                <br />
                <br />
                <br />
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- KnowledgeBase -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4802285325029828"
     data-ad-slot="6474686595"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
            </div>
        </div>
    </div>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/readingTime.min.js"></script>
    <script>
        $(function () {
            $('article').readingTime({
                wordCountTarget: '.words',
            });
        });
    </script>
    
</body>
</html>
