@model KnowledgeBase.Models.Books

@{
    ViewBag.Title = "BooksIndex";
}

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(function () {
        $("input").keydown(function (e) {
            if (e.keyCode == 13) {
                $("#loading").fadeIn();
            }
        });
    });
</script>

@using (Ajax.BeginForm("Index", FormMethod.Post, new AjaxOptions { UpdateTargetId = "tableRefresh" }, new { @class = "form-horizontal", role = "form" }))
{
    <div id="tableRefresh">
        <div class="icon-addon addon-lg">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", autocomplete = "off", placeholder = "Search" })
            <p class="pull-right">(Please enter the keyword and press enter.)</p>
        </div>
        <br />
        <br />
        @if (Model != null)
                {
            <table style="width:100%; line-height:35px;" class="table-hover">
                <tr>
                    <td style="padding-left:20px;">About @Model.BookData.Total.ToString() results (@Model.BookData.Time.ToString() seconds) </td>
                </tr>
                @for (int i = 0; i < Model.BookData.Books.Count; i++)
                {
                    <tr>
                        <td style="padding-left:10px;">
                            <span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;<a style="text-decoration:none;" href="@Url.Action("BooksDetail", "Books", new { Id = Model.BookData.Books[i].Id })">
                                @Model.BookData.Books[i].Title
                            </a>
                        </td>
                    </tr>
                }
            </table>
            <br />
                    <hr />
                    <nav>
                        <ul class="pager">
                            @for (int i = 1; i < Convert.ToInt32(Model.BookData.Total) / 10; i++)
                            {
                                <li><a href="@Url.Action("Index", new { searchTerm = TempData["SearchTerm"], pageNumber = @i })">@i</a></li>
                            }
                        </ul>
                    </nav>
        }
        else
        {
            <div style="text-align:center;">
                <img src="~/Images/nodata.png" />
                <br />
                <p style="text-align:center;">No Results to show</p>
            </div>
        }
    </div>

    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
                <img src="~/Images/319.gif" />
            </p>
        </div>
    </div>
}
