@model KnowledgeBase.Models.Books

@{
    ViewBag.Title = "BooksIndex";
}

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(function () {
        $("#submitBtn").click(function () {
            $("#loading").fadeIn();
        });
    });
</script>

@using (Ajax.BeginForm("Index", FormMethod.Post, new AjaxOptions { UpdateTargetId = "tableRefresh" }, new { @class = "form-horizontal", role = "form" }))
{
    <div id="tableRefresh">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-inline">
                    @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control widthtext", autocomplete = "off", placeholder = "Search" })
                    <button type="submit" class="btn btn-default" id="submitBtn">Search</button>
                    &nbsp;&nbsp;&nbsp;Search books by typing the keyword. Examples: asp.net, entity framework, etc
                </div>
            </div>
            <div class="panel-body">
                @if (Model != null)
                {
                    <table style="width:100%; line-height:30px;">
                        @for (int i = 0; i < Model.BookData.Books.Count; i++)
                        {
                            <tr>
                                <td style="padding-left:10px;">
                                    <a href="@Url.Action("BooksDetail", "Books", new { Id = Model.BookData.Books[i].Id })">
                                        (@(i + 1)) &nbsp;&nbsp;@Model.BookData.Books[i].Title
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                    <br />
                    <nav>
                        <ul class="pager">
                            @for (int i = 1; i < Convert.ToInt32(Model.BookData.Total) / 10; i++)
                            {
                                <li><a href="@Url.Action("Index", new { searchTerm = TempData["SearchTerm"], pageNumber = @i })">@i</a></li>
                            }
                        </ul>
                    </nav>
                }
                else
                {
                    <div style="text-align:center;">
                        <p style="text-align:center;">No Results to show</p>
                    </div>
                }
            </div>
        </div>
    </div>

    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
                <img src="~/Images/319.GIF" />
            </p>
        </div>
    </div>
}
